Repository rouge8/japanese-learning: changes, and which pre-commit hooks are due for each by the changed paths.
All: logging.getLogger, missing-__init__.py, cargo-check, rustfmt, clippy

.pre-commit-config.yaml:

---

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      # Filesystem
      - id: check-case-conflict
      - id: check-symlinks
      # Whitespace
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: mixed-line-ending
      # Syntax
      - id: check-merge-conflict
      - id: check-executables-have-shebangs
      - id: pretty-format-json
        args:
          - --autofix
          - --indent=2
          - --no-sort-keys
      - id: check-toml
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.38.0
    hooks:
      - id: yamllint
        args:
          - --strict
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: python-check-mock-methods
      - id: rst-backticks
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.13
    hooks:
      - id: ruff-check
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.26
    hooks:
      - id: uv-lock
        files: anki-extract-kanji/pyproject.toml
        args: [--project, anki-extract-kanji]
      - id: uv-lock
        files: wanikani-burnt-kanji-to-anki/pyproject.toml
        args: [--project, wanikani-burnt-kanji-to-anki]
  - repo: https://github.com/PyCQA/doc8
    rev: v2.0.0
    hooks:
      - id: doc8
        args:
          - --quiet
  - repo: https://github.com/renovatebot/pre-commit-hooks
    rev: 42.84.0
    hooks:
      - id: renovate-config-validator
  - repo: https://github.com/rtts/djhtml
    rev: 3.0.10
    hooks:
      - id: djhtml
        args:
          - --tabwidth=2
        types: [html]
  - repo: local
    hooks:
      - id: logging.getLogger
        name: Use structlog.get_logger() instead of logging.getLogger()
        language: pygrep
        entry: logging.getLogger\(
        types: [python]
      - id: missing-__init__.py
        name: missing __init__.py
        language: system
        types: [python]
        entry: >
          sh -c '
            MISSING=false
            for f in $@; do
              f="$(dirname ${f})"
              if [ ! -f "${f}/__init__.py" ]; then
                MISSING=true
                echo "ERROR: No __init__.py found for ${f}/";
              fi
            done
            if [ $MISSING == true ]; then
              exit 1
            fi
          '
      - id: cargo-check
        name: cargo check
        language: system
        types: [rust]
        require_serial: true
        entry: >
          bash -c '
            dirs=()
            for f in $@; do
              dirs+=($(dirname $(cd $(dirname "${f}") && cargo locate-project --message-format=plain)))
            done

            for d in $(printf "%s\n" "${dirs[@]}" | sort -u); do
              (cd "${d}" && cargo +stable check)
            done
          '
      - id: rustfmt
        name: rustfmt
        language: system
        types: [rust]
        require_serial: true
        entry: >
          bash -c '
            dirs=()
            for f in $@; do
              dirs+=($(dirname $(cd $(dirname "${f}") && cargo locate-project --message-format=plain)))
            done

            for d in $(printf "%s\n" "${dirs[@]}" | sort -u); do
              (cd "${d}" && cargo +stable fmt)
            done
          '
      - id: clippy
        name: clippy
        language: system
        types: [rust]
        require_serial: true
        entry: >
          bash -c '
            dirs=()
            for f in $@; do
              dirs+=($(dirname $(cd $(dirname "${f}") && cargo locate-project --message-format=plain)))
            done

            for d in $(printf "%s\n" "${dirs[@]}" | sort -u); do
              (cd "${d}" && cargo +stable clippy -- -D warnings)
            done
          '

[shirabe-jisho-to-anki] Note creation!
  shirabe-jisho-to-anki/pyproject.toml
  shirabe-jisho-to-anki/src/shirabe_jisho_to_anki/__main__.py
  shirabe-jisho-to-anki/src/shirabe_jisho_to_anki/anki.py
  shirabe-jisho-to-anki/tests/test_anki.py
  shirabe-jisho-to-anki/uv.lock
Due: logging.getLogger, missing-__init__.py

[shirabe-jisho-to-anki] Update usage in README
  shirabe-jisho-to-anki/README.md
Due: none

[mise] Add shirabe-jisho-to-anki as a monorepo config root
  mise.toml
Due: none

[shirabe-jisho-to-anki] Use `<br>` instead of `\n` to separate senses on card backs
  shirabe-jisho-to-anki/src/shirabe_jisho_to_anki/anki.py
  shirabe-jisho-to-anki/tests/test_anki.py
Due: logging.getLogger, missing-__init__.py

Add anki-newlines-to-br to fix cards affected by #41
  .github/workflows/ci.yaml
  anki-newlines-to-br/.coveragerc
  anki-newlines-to-br/.gitignore
  anki-newlines-to-br/LICENSE
  anki-newlines-to-br/README.md
  anki-newlines-to-br/data/.gitkeep
  anki-newlines-to-br/mise.toml
  anki-newlines-to-br/pyproject.toml
  anki-newlines-to-br/src/anki_newlines_to_br/__init__.py
  anki-newlines-to-br/src/anki_newlines_to_br/__main__.py
  anki-newlines-to-br/src/anki_newlines_to_br/anki.py
  anki-newlines-to-br/src/anki_newlines_to_br/helpers.py
  anki-newlines-to-br/tests/__init__.py
  anki-newlines-to-br/tests/conftest.py
  anki-newlines-to-br/tests/test_helpers.py
  anki-newlines-to-br/tox.ini
  anki-newlines-to-br/uv.lock
  mise.toml
Due: logging.getLogger, missing-__init__.py

`prek auto-update`
  .pre-commit-config.yaml
Due: none

[shirabe-jisho-to-anki] Deduplicate Kana-only flashcards
  shirabe-jisho-to-anki/src/shirabe_jisho_to_anki/anki.py
  shirabe-jisho-to-anki/src/shirabe_jisho_to_anki/jmdict.py
  shirabe-jisho-to-anki/src/shirabe_jisho_to_anki/jp_helpers.py
  shirabe-jisho-to-anki/tests/conftest.py
  shirabe-jisho-to-anki/tests/test_anki.py
  shirabe-jisho-to-anki/tests/test_jmdict.py
Due: logging.getLogger, missing-__init__.py

Use a single Ruff config file
  anki-extract-kanji/pyproject.toml
  anki-newlines-to-br/pyproject.toml
  ruff.toml
  shirabe-jisho-to-anki/pyproject.toml
  wanikani-burnt-kanji-to-anki/pyproject.toml
Due: none

Add names to the `uv-lock` prek hooks
  .pre-commit-config.yaml
Due: none

[anki-newlines-to-br] Add prek hook for `uv lock`
  .pre-commit-config.yaml
Due: none

Add mise tasks for upgrading dependencies
  anki-extract-kanji/mise.toml
  anki-newlines-to-br/mise.toml
  mise.toml
  shirabe-jisho-to-anki/mise.toml
  wanikani-apprentice/mise.toml
  wanikani-burnt-kanji-to-anki/mise.toml
Due: none

Upgrade all unpinned dependencies
  anki-extract-kanji/uv.lock
  anki-newlines-to-br/uv.lock
  shirabe-jisho-to-anki/uv.lock
  wanikani-apprentice/Cargo.lock
  wanikani-burnt-kanji-to-anki/uv.lock
Due: none

Add a global uv configuration with a dependency cooldown
  anki-extract-kanji/pyproject.toml
  anki-extract-kanji/uv.lock
  shirabe-jisho-to-anki/pyproject.toml
  shirabe-jisho-to-anki/uv.lock
  uv.toml
  wanikani-burnt-kanji-to-anki/pyproject.toml
  wanikani-burnt-kanji-to-anki/uv.lock
Due: none

Simplify GitHub Actions configuration for Python projects
  .github/workflows/ci.yaml
Due: none

Add `prek auto-update` to `mise run //:upgrade-deps`
  mise.toml
Due: none

`mise run //:upgrade-deps`
  .pre-commit-config.yaml
  anki-extract-kanji/uv.lock
  shirabe-jisho-to-anki/uv.lock
  wanikani-burnt-kanji-to-anki/uv.lock
Due: none

Disable Renovate lockfile maintenance
  renovate.json
Due: none

Use `gha-update` to update (and pin) GitHub Actions
  mise.toml
Due: none

Pin workflows with `gha-update`
  .github/workflows/ci.yaml
Due: none

Specify Rust toolchains in CI
  .github/workflows/ci.yaml
Due: none

[wanikani-burnt-kanji-to-anki] Use pyreqwest instead of httpx
  renovate.json
  wanikani-burnt-kanji-to-anki/pyproject.toml
  wanikani-burnt-kanji-to-anki/src/wanikani_burnt_kanji_to_anki/wanikani.py
  wanikani-burnt-kanji-to-anki/tests/conftest.py
  wanikani-burnt-kanji-to-anki/uv.lock
Due: logging.getLogger, missing-__init__.py

More GHA fixes
  .github/workflows/ci.yaml
Due: none

Fix reqwest compatibility
  wanikani-apprentice/Cargo.lock
  wanikani-apprentice/Cargo.toml
Due: none

[anki-extract-kanji] Order Kanji in output by frequency in the vocab deck
  anki-extract-kanji/src/anki_extract_kanji/__main__.py
Due: logging.getLogger, missing-__init__.py

[anki-extract-kanji] Extract logic and add a basic test
  anki-extract-kanji/src/anki_extract_kanji/__main__.py
  anki-extract-kanji/tests/test_main.py
Due: logging.getLogger, missing-__init__.py

Run pytest with `-v`
  anki-extract-kanji/pyproject.toml
  anki-newlines-to-br/pyproject.toml
  shirabe-jisho-to-anki/pyproject.toml
  wanikani-burnt-kanji-to-anki/pyproject.toml
Due: none

[anki-newlines-to-br] Fix `.coveragerc`
  anki-newlines-to-br/.coveragerc
Due: none

[wanikani-burnt-kanji-to-anki] Use pyreqwest instead of httpx
  anki-extract-kanji/uv.lock
  renovate.json
  shirabe-jisho-to-anki/uv.lock
  uv.toml
  wanikani-burnt-kanji-to-anki/pyproject.toml
  wanikani-burnt-kanji-to-anki/src/wanikani_burnt_kanji_to_anki/wanikani.py
  wanikani-burnt-kanji-to-anki/tests/conftest.py
  wanikani-burnt-kanji-to-anki/uv.lock
Due: logging.getLogger, missing-__init__.py

[anki-extract-kanji] Don't print the count
  anki-extract-kanji/src/anki_extract_kanji/__main__.py
Due: logging.getLogger, missing-__init__.py

Upgrade Anki
  anki-extract-kanji/pyproject.toml
  anki-extract-kanji/uv.lock
  anki-newlines-to-br/pyproject.toml
  anki-newlines-to-br/uv.lock
  shirabe-jisho-to-anki/pyproject.toml
  shirabe-jisho-to-anki/uv.lock
  uv.toml
Due: none

[anki-newlines-to-br] Fix dependency cooldown
  anki-newlines-to-br/pyproject.toml
  anki-newlines-to-br/uv.lock
Due: none

wanikani-burnt-kanji-to-anki: Update `uv.lock`
  wanikani-burnt-kanji-to-anki/uv.lock
Due: none

Remove exclude-newer exception for pyreqwest
  anki-extract-kanji/uv.lock
  anki-newlines-to-br/uv.lock
  shirabe-jisho-to-anki/uv.lock
  uv.toml
  wanikani-burnt-kanji-to-anki/uv.lock
Due: none

Upgrade dependencies
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
  anki-extract-kanji/uv.lock
  anki-newlines-to-br/uv.lock
  shirabe-jisho-to-anki/uv.lock
  wanikani-apprentice/Cargo.lock
  wanikani-burnt-kanji-to-anki/uv.lock
Due: none

`mise run //:upgrade-deps`
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
  anki-extract-kanji/uv.lock
  anki-newlines-to-br/uv.lock
  shirabe-jisho-to-anki/uv.lock
  wanikani-apprentice/Cargo.lock
Due: none

[prek] New update command
  mise.toml
Due: none

[prek] Configure cooldown
  .pre-commit-config.yaml
Due: none

[mise] Add minimum release age
  mise.toml
Due: none

[wanikani-apprentice] Resolve Clippy complaints
  wanikani-apprentice/src/wanikani.rs
Due: cargo-check, rustfmt, clippy

[prek] Remove `cargo check`
  .pre-commit-config.yaml
Due: none
