Repository rouge8/japanese-learning: changes, and which pre-commit hooks are due for each by the changed paths.
All: logging.getLogger, missing-__init__.py, cargo-check, rustfmt, clippy

.pre-commit-config.yaml:

---

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      # Filesystem
      - id: check-case-conflict
      - id: check-symlinks
      # Whitespace
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: mixed-line-ending
      # Syntax
      - id: check-merge-conflict
      - id: check-executables-have-shebangs
      - id: pretty-format-json
        args:
          - --autofix
          - --indent=2
          - --no-sort-keys
      - id: check-toml
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.38.0
    hooks:
      - id: yamllint
        args:
          - --strict
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: python-check-mock-methods
      - id: rst-backticks
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.13
    hooks:
      - id: ruff-check
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.26
    hooks:
      - id: uv-lock
        files: anki-extract-kanji/pyproject.toml
        args: [--project, anki-extract-kanji]
      - id: uv-lock
        files: wanikani-burnt-kanji-to-anki/pyproject.toml
        args: [--project, wanikani-burnt-kanji-to-anki]
  - repo: https://github.com/PyCQA/doc8
    rev: v2.0.0
    hooks:
      - id: doc8
        args:
          - --quiet
  - repo: https://github.com/renovatebot/pre-commit-hooks
    rev: 42.84.0
    hooks:
      - id: renovate-config-validator
  - repo: https://github.com/rtts/djhtml
    rev: 3.0.10
    hooks:
      - id: djhtml
        args:
          - --tabwidth=2
        types: [html]
  - repo: local
    hooks:
      - id: logging.getLogger
        name: Use structlog.get_logger() instead of logging.getLogger()
        language: pygrep
        entry: logging.getLogger\(
        types: [python]
      - id: missing-__init__.py
        name: missing __init__.py
        language: system
        types: [python]
        entry: >
          sh -c '
            MISSING=false
            for f in $@; do
              f="$(dirname ${f})"
              if [ ! -f "${f}/__init__.py" ]; then
                MISSING=true
                echo "ERROR: No __init__.py found for ${f}/";
              fi
            done
            if [ $MISSING == true ]; then
              exit 1
            fi
          '
      - id: cargo-check
        name: cargo check
        language: system
        types: [rust]
        require_serial: true
        entry: >
          bash -c '
            dirs=()
            for f in $@; do
              dirs+=($(dirname $(cd $(dirname "${f}") && cargo locate-project --message-format=plain)))
            done

            for d in $(printf "%s\n" "${dirs[@]}" | sort -u); do
              (cd "${d}" && cargo +stable check)
            done
          '
      - id: rustfmt
        name: rustfmt
        language: system
        types: [rust]
        require_serial: true
        entry: >
          bash -c '
            dirs=()
            for f in $@; do
              dirs+=($(dirname $(cd $(dirname "${f}") && cargo locate-project --message-format=plain)))
            done

            for d in $(printf "%s\n" "${dirs[@]}" | sort -u); do
              (cd "${d}" && cargo +stable fmt)
            done
          '
      - id: clippy
        name: clippy
        language: system
        types: [rust]
        require_serial: true
        entry: >
          bash -c '
            dirs=()
            for f in $@; do
              dirs+=($(dirname $(cd $(dirname "${f}") && cargo locate-project --message-format=plain)))
            done

            for d in $(printf "%s\n" "${dirs[@]}" | sort -u); do
              (cd "${d}" && cargo +stable clippy -- -D warnings)
            done
          '

Switch to the latest dev build of Pyrefly for type checking
  .github/workflows/ci.yaml
  anki-extract-kanji/pyproject.toml
  anki-extract-kanji/tox.ini
  anki-extract-kanji/uv.lock
  anki-newlines-to-br/pyproject.toml
  anki-newlines-to-br/tox.ini
  anki-newlines-to-br/uv.lock
  shirabe-jisho-to-anki/pyproject.toml
  shirabe-jisho-to-anki/tests/test_helpers.py
  shirabe-jisho-to-anki/tox.ini
  shirabe-jisho-to-anki/uv.lock
  uv.toml
  wanikani-burnt-kanji-to-anki/pyproject.toml
  wanikani-burnt-kanji-to-anki/src/wanikani_burnt_kanji_to_anki/__main__.py
  wanikani-burnt-kanji-to-anki/src/wanikani_burnt_kanji_to_anki/wanikani.py
  wanikani-burnt-kanji-to-anki/tox.ini
  wanikani-burnt-kanji-to-anki/uv.lock
Due: logging.getLogger, missing-__init__.py

Switch to the latest dev build of Pyrefly for type checking (#57)
  .github/workflows/ci.yaml
  anki-extract-kanji/pyproject.toml
  anki-extract-kanji/tox.ini
  anki-extract-kanji/uv.lock
  anki-newlines-to-br/pyproject.toml
  anki-newlines-to-br/tox.ini
  anki-newlines-to-br/uv.lock
  shirabe-jisho-to-anki/pyproject.toml
  shirabe-jisho-to-anki/tests/test_helpers.py
  shirabe-jisho-to-anki/tox.ini
  shirabe-jisho-to-anki/uv.lock
  uv.toml
  wanikani-burnt-kanji-to-anki/pyproject.toml
  wanikani-burnt-kanji-to-anki/src/wanikani_burnt_kanji_to_anki/__main__.py
  wanikani-burnt-kanji-to-anki/src/wanikani_burnt_kanji_to_anki/wanikani.py
  wanikani-burnt-kanji-to-anki/tox.ini
  wanikani-burnt-kanji-to-anki/uv.lock
Due: logging.getLogger, missing-__init__.py

[wanikani-apprentice] Use cargo-nextest from aqua
  wanikani-apprentice/mise.toml
Due: none

Pin Python requirements with exact versions
  anki-extract-kanji/pyproject.toml
  anki-extract-kanji/uv.lock
  wanikani-burnt-kanji-to-anki/pyproject.toml
  wanikani-burnt-kanji-to-anki/uv.lock
Due: none

Upgrade Pyrefly
  anki-extract-kanji/pyproject.toml
  anki-extract-kanji/uv.lock
  anki-newlines-to-br/pyproject.toml
  anki-newlines-to-br/uv.lock
  shirabe-jisho-to-anki/pyproject.toml
  shirabe-jisho-to-anki/uv.lock
  wanikani-burnt-kanji-to-anki/pyproject.toml
  wanikani-burnt-kanji-to-anki/uv.lock
Due: none

Resolve mise deprecation warning
  mise.toml
Due: none

`mise run //:upgrade-deps` plus linter fixes
  .pre-commit-config.yaml
  anki-extract-kanji/src/anki_extract_kanji/__main__.py
  anki-extract-kanji/tests/test_main.py
  anki-extract-kanji/uv.lock
  anki-newlines-to-br/src/anki_newlines_to_br/__main__.py
  anki-newlines-to-br/uv.lock
  ruff.toml
  shirabe-jisho-to-anki/src/shirabe_jisho_to_anki/__main__.py
  shirabe-jisho-to-anki/src/shirabe_jisho_to_anki/anki.py
  shirabe-jisho-to-anki/src/shirabe_jisho_to_anki/jmdict.py
  shirabe-jisho-to-anki/src/shirabe_jisho_to_anki/shirabe_jisho.py
  shirabe-jisho-to-anki/tests/conftest.py
  shirabe-jisho-to-anki/tests/test_anki.py
  shirabe-jisho-to-anki/tests/test_helpers.py
  shirabe-jisho-to-anki/tests/test_jmdict.py
  shirabe-jisho-to-anki/uv.lock
  wanikani-apprentice/Cargo.lock
  wanikani-burnt-kanji-to-anki/src/wanikani_burnt_kanji_to_anki/__main__.py
  wanikani-burnt-kanji-to-anki/src/wanikani_burnt_kanji_to_anki/wanikani.py
  wanikani-burnt-kanji-to-anki/tests/factories.py
  wanikani-burnt-kanji-to-anki/tests/mock_wanikani.py
  wanikani-burnt-kanji-to-anki/tests/test_main.py
  wanikani-burnt-kanji-to-anki/tests/test_wanikani.py
  wanikani-burnt-kanji-to-anki/uv.lock
Due: logging.getLogger, missing-__init__.py

Use `pin` range strategy with Renovate
  renovate.json
Due: none

Upgrade Anki
  anki-extract-kanji/pyproject.toml
  anki-extract-kanji/uv.lock
  anki-newlines-to-br/pyproject.toml
  anki-newlines-to-br/uv.lock
  shirabe-jisho-to-anki/pyproject.toml
  shirabe-jisho-to-anki/uv.lock
Due: none

[wankikani-apprentice] Fix Sentry backwards incompatibility
  wanikani-apprentice/src/main.rs
Due: cargo-check, rustfmt, clippy

[wankikani-apprentice] Install useful components with mise
  wanikani-apprentice/mise.toml
Due: none

Add `mise fmt` to prek
  .pre-commit-config.yaml
  mise.toml
Due: none

Add mise to prek on GitHub Actions
  .github/workflows/ci.yaml
Due: none

Pin GitHub Actions with Renovate
  renovate.json
Due: none

[wanikani-apprentice] No more deploys
  .github/workflows/ci.yaml
Due: none

Enable pre-commit hook updates in Renovate
  renovate.json
Due: none

[wanikani-burnt-kanji-to-anki] Switch from factory_boy to Polyfactory
  wanikani-burnt-kanji-to-anki/pyproject.toml
  wanikani-burnt-kanji-to-anki/tests/factories.py
  wanikani-burnt-kanji-to-anki/tests/test_main.py
  wanikani-burnt-kanji-to-anki/tests/test_wanikani.py
  wanikani-burnt-kanji-to-anki/uv.lock
Due: logging.getLogger, missing-__init__.py
